<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @assistant.birth_date %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @assistant.salary %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @assistant.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @assistant.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @assistant.email %>
</p>

<%= link_to 'Edit', edit_bus_assistant_path(@bus, @assistant) %> |
<%= link_to 'Back', assistants_path %>
