<div id="main-container">
<div id="login-container">
    <div class="col-md-8">
      <%= link_to (root_path) do %>
        <%= image_tag("logo.png", class: "img-responsive", id: "logo-image") %>
      <% end %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Manage buses, drivers, and assistants", buses_path, class: "btn btn-primary" %><br>
      <%= link_to "Manage cities", cities_path, class: "btn btn-primary" %><br>
      <%= link_to "Manage schedules", schedules_path, class: "btn btn-primary" %><br>
      <%= link_to "Assign schedules", assign_schedules_path, class: "btn btn-primary" %><br>
      <%= link_to "Manage packages types", package_types_path, class: "btn btn-primary" %><br>
      <%= link_to "Manage travel packages", travel_packages_path, class: "btn btn-primary" %><br>
    </div>
</div>
</div>
