<%= form_for(@ticket, class: "form-horizontal") do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="form-group">
    <%= f.label :travel_package_id, class: "control-label" %><br>
    <% travel_packages_array = TravelPackage.all.map { |travel_package| ["#{travel_package.schedule.departure_city.name} to #{travel_package.schedule.arrival_city.name} at #{travel_package.schedule.departure_time.hour}:#{travel_package.schedule.departure_time.min}", travel_package.id] } %>
    <%= f.select :travel_package_id, options_for_select(travel_packages_array), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :departure_date, class: "control-label" %><br>
    <%= f.date_select :departure_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :arrival_date, class: "control-label" %><br>
    <%= f.date_select :arrival_date, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
