<%= form_for(@bus, class: "form-horizontal") do |f| %>
  <% if @bus.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</strong>

      <ul>
      <% @bus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :trademark, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :trademark, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :model, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :model, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :capacity, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :capacity, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
